.card-body {
    &.total {
      background: url('../images/total.png') center center no-repeat,
        linear-gradient(153.43deg, #1233b2, #3464d0) !important;
    }
  
    &.available {
      background: url('../images/available.png') center center no-repeat,
        linear-gradient(153.43deg, #3585dd, #64adeb) !important;
    }
  
    &.delegated {
      background: url('../images/delegated.png') center center no-repeat,
        linear-gradient(153.43deg, #dfa365, #dfa365) !important;
    }

    &.rewards {
      background: url('../images/rewards.png') center center no-repeat,
        linear-gradient(153.43deg, #209d67, #4bc197) !important;
    }
    &.APRCalculator {
      background: url('../images/rewards.png') center center no-repeat,
        linear-gradient(153.43deg, #1233b2, #3464d0) !important;
    }
  }
  